body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(245, 238, 228);
}

#clculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 11%, 4%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    border: none;
    text-align: left;
    background-color: hsl(0, 1%, 4%);
    color: white;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 15px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: hsl(0, 1%, 53%);
    font-size: 4rem;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: hsl(0, 3%, 77%);
}

button:active{
    background-color: hsl(0, 0, 50%);
}

.operator{
    background-color: hsl(35, 92%, 47%);
}

.operator:hover{
    background-color: hsl(35, 100%, 75%);
}